<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" type="text/css" href="../css/galery.css">
      <link rel="stylesheet" href="../css/menum.css">
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AROUS GHARSALAH</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body class="current-page-home">
    <img style="position: relative;left: 40px; height: 200px;width: 200px" src="../../data/image/logo.png">
           <nav style="position:relative;top: -100px;left: 370px">
            <ul class="ulul">

                  <li class="lili">
                    <a class="aa" style="color: black;text-decoration: none" href="../home.html">HOME</a>
                </li class="lili">

                <li class="lili">
                    <a class="aa" style="color: black;text-decoration: none" href="../automne-hiver-2017-2018.html">COLLECTION 2018/2019</a>
                </li class="lili">

               

                 
                    <li class="lili"><div class="dropdown">
                 <a class="aa" style="color: black;text-decoration: none" href="#">COLLECTION MARIAGE</a>
  <div class="dropdown-content">
    <a class="aa" href="#">Robe style 1</a>
    <a class="aa" href="#">Robe style 2</a>
  </div>
</div>
                </li>
                    <li class="lili"><div class="dropdown">
                 <a class="aa" style="color: black;text-decoration: none" href="#">COLLECTION ARBI</a>
  <div class="dropdown-content" >
    <a class="aa" href="#">Robe style 1</a>
    <a class="aa" href="#">Robe style 2</a>
  </div>
</div>
                </li>

                <li class="lili">
                    <a class="aa" style="color: black;text-decoration: none" href="../notre boutique.html">NOTRE BOUTIQUE</a>
                </li>

            </ul>
        </nav>
<div id="galerie">
    <div style="position: absolute;">
  <a style="color: black;position: absolute;left: 940px;top: -35px" href="03.html">NEXT</a>
  <a style="color: black;position: absolute;top: -35px;right: 20px;" href="01.html">PREV</a>
</div>
  <ul id="galerie_mini" style="position: relative;left: 300px">
    <li>
      <a href="../../data/img/3.jpg" title="Titre de la photo 1"><img style="width: 100px;height: 100px;margin-right: 20px" src="../../data/img/3.jpg" alt="Le titre de la photo 1" /></a>    </li>
    <li>
      <a href="../../data/img/4.jpg" title="Titre de la photo 2"><img style="width: 100px;height: 100px;margin-right: 20px" src="../../data/img/4.jpg" alt="Le titre de la photo 2" /></a>    </li>
      <li>
      <a href="../../data/img/1new.jpg" title="Titre de la photo 2"><img style="width: 100px;height: 100px;margin-right: 20px" src="../../data/img/1new.jpg" alt="Le titre de la photo 2" /></a>    </li>
</ul>

  <dl id="photo">
    <dd><img style="position: relative;top: 40px" id="big_pict" src="../../data/img/3.jpg" alt="Photo 1 en taille normale" /></dd>
    <dt style="display: none;">look 01</dt>
  </dl>
</div>
    <script type="text/javascript" src="../js/js.js"></script>
</body>
       <footer id="site-footer" class="site-footer" style="position: relative;height: 70px ;top: 400px;background-color: rgb(245, 245, 245);">
    <div class="s-m" style="position: relative;left: 35px;top: 10px">
      <a style="color: rgb(201, 201, 201);" class="fa fa-facebook" href="https://www.facebook.com/ArousGharsallah/"></a>
      <a style="color: rgb(201, 201, 201);" class="fa fa-twitter" href="#"></a>
      <a style="color: rgb(201, 201, 201);" class="fa fa-google-plus" href="#"></a>
      <a style="color: rgb(201, 201, 201);" class="fa fa-youtube" href="#"></a>
      <a style="color: rgb(201, 201, 201);" class="fa fa-linkedin" href="#"></a>
    </div>
</footer>
</html>