.button:hover {
	text-align-last: center;
    color: black;
    border-color: #fff;
    font-family: Arial W01,Arial,Helvetica,sans-serif;
    display: inline-block;
    min-width: 210px;
    padding: 2em;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    font-size: .75em;
    cursor: pointer;
    background-color: white;
}